@import './../../../theme/variables.scss';

.login-card-outer{
    font-family: 'Pacifico', cursive;
    position: absolute;
    width: 540px;
    height: 220px;
    left: 306px;
    top: 166px;
    background-color: $login-page-card-color;
    border-radius: 10px;
}

.login-card-inner{
    position: absolute;
    width: 510px;
    height: 188px;
    left: 15px;
    top: 15px;

    border: 2px dashed #BEEEF7;
    box-sizing: border-box;
    border-radius: 24px;
}

h1, h2{
    color: $login-page-font-color;
    text-align: center;
    font-weight: 400;
}