@import '../../../theme/variables.scss';

button {
    position: absolute;
    width: 315px;
    height: 40px;
    left: 700px;
    top: 436px;

    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    background: $login-page-card-color;
    border-radius: 10px;
    color: $login-page-bg-color
}