@import '../../theme/variables.scss';

.container2 {
    background: #c3e2e7;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.4fr 5.6fr ;
}

.leftpanel {
    height: 94vh;
    background: #BDF6CC;
    border-radius: 1rem;
    margin: 1.5rem;
    grid-area: 1/ 2 ;
}


.date {
    background-color: transparent;
    border:none;
    margin: 1rem;
    margin-bottom: 0rem;
    color: #4c584f;
    font-size: 1.2rem;

}

.buttonS {
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    margin-left: 2rem;
    border:none;
    font-size: 2.2rem;
    margin-top: 0rem;
    position:inherit;
    color: black;
}

.save{
    margin-left: 39rem;
    position:inherit;

}
.buttonD {
    background-color: transparent;
    border-radius:.3rem;
    height: 2rem;
    margin: 2rem;
    float:right;
    border:none;
    font-size: 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.buttonM {
    background-color: transparent;
    border-radius:.3rem;
    height: 2rem;
    margin: 1.5rem;
    float:left;
    border:none;
    font-size: 2.4rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    position:inherit;
    color:black
}

.title {
    background-color: transparent;
    border:none;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-size: 2.5rem;
    color: black;
    margin: 1rem;
    margin-top: 0rem;
    width: 50vw;
    padding: .6rem;
}

.bodyTxt {
    background-color: transparent;
    border:none;
    height: 58vh;
    width: 62vw;
    text-align:start;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.hrcss {
    margin-right: .5rem;
    margin-left: .5rem;
}

.rightpanel {
    height: 90vh;
    width: 20vw;
    background:white;
    border-radius: 1rem;
    margin: 1.5rem;
    padding-top: 1.5rem;
    grid-area: 0/ 1 ;
}

.divs{
    background: $login-page-card-color;
}

.createbtn {
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem ;
    width: 13.5rem;
    font-size: 1.4rem ;
    background-color: $login-page-card-color ;
    border: none;
    color:rgb(245, 243, 243);
    border-radius: .3rem;
    padding: .4rem;
    position: inherit;
}

.search {
    padding: .4rem;
    border-radius: .3rem;
    font-size: 1.5rem ;
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(169, 221, 218);
    border: none;
    color: $login-page-card-color;
    position: inherit;
}
.entrydiv {
    overflow-y: scroll ;
    height: 56vh;
    background: rgb(226, 236, 236);
    border-radius: 1rem;
}
.entrycbtn {
    margin: .7rem;
    text-align: left;
    margin-bottom: 0rem;
    border:none;
    font-size: 1rem;
    border-radius: .5rem;
    position:inherit;
    background: none;
    height: 9rem;
    color:black
}

