@import '../../theme/variables.scss';

.container2 {
    background: #c3e2e7;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 5fr ;
    grid-template-rows: 3fr 1fr 2fr 2fr 2fr 2fr;
}

.leftpanel {
    height: 90vh;
    background: #BDF6CC;
    border-radius: .5rem;
    grid-area: 1/ 2/ 4/ 7;
    margin: 2rem;
}

.date {
    background-color: transparent;
    border:none;
    margin: 1rem;
    color: #6a796e;
}

.buttonS {
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    float:right;
    border:none;
    font-size: 2rem;
}

.title {
    background-color: transparent;
    border:none;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-size: 2.5rem;
    color: black;
    margin: 1rem;
    margin-top: 0rem;
    width: 50vw;
    padding: .2rem;
}

.bodyTxt {
    background-color: transparent;
    border:none;
    height: 65vh;
    width: 55vw;
    text-align:start;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.hrcss {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.rightpanel {
    height: 90vh;
    background:white;
    border-radius: .5rem;
    margin: 2rem;
    grid-area: 1/ 1;
    padding-top: 1.5rem;
}

.createbtn {
    margin-left: 4rem;
    margin-right: 1rem;
    font-size: 1.5rem ;
    background-color: $login-page-card-color ;
    color:white;
    border-radius: .3rem;
    padding: .4rem;
}

.search{
    padding: .4rem;
    border-radius: .3rem;
    font-size: 1.5rem ;
    width: 3rem;
}

.entrycbtn {
    margin: 2rem;
    text-align: left;
    margin-bottom: 0rem;
    border:none
}