.container1{
  background-color: rgb(213, 219, 223);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

.title_div{
  grid-area: 2/ 2/ 3/ 3;
  background: rgb(80, 86, 134);
  color:white;
  border-radius: 2rem;
  font-style:italic;
  font-family: Pacifico, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 2rem;
  margin:2rem;
}

.button_div1{
  grid-area: 3/ 2/ 3/ 3;
  margin:2rem;
  text-align: center;
}
.button_div2{
  grid-area: 4/ 2/ 4/ 3;
  margin:2rem;
  text-align: center;
}

.signin{
  background-color: rgb(80, 86, 134); 
  border-radius: .5rem;
  width:20rem;
  height: 3rem;
  color:white;
  font-size: 1.3rem
}
.login{
  background-color:transparent;
  border:none;
  color:rgb(80, 86, 134);
  font-size: 1rem
}
.about{
  grid-area: 1/ 3/ 1/ 4;
  margin:2rem;
  text-align: right;
}

.button3{
  background-color:rgb(80, 86, 134);
  color:white;
  border-radius: 50%;
  font-size: 1.5rem;
}