.image {
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
    margin-left:10rem;
    margin-right:10rem;
}

.input {
    background-color: transparent;
    border:none;
    font-family: 'Pacifico', cursive;
    margin: 1rem;
    width: 24vw;
    text-align: center;
    font-size: 2rem
}