.image {
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
    margin-left: 8rem;
    margin-right: 8rem;
}

.input {
    background-color: transparent;
    border:none;
    font-family: 'Pacifico', cursive;
    margin: .5rem;
    margin-bottom: 1rem;
    width: 18vw;
    text-align: center;
    font-size: 2rem
}